    <h4>Connection to API Successful</h4>

<div class="card">

  <div class="container">
    <div>
    <img src="{{poster}}" alt="Avatar" >
    </div>
    <h4><b>{{title}}</b></h4>
    <p>Language:{{language}}</p>
    <p>Popularity:{{popularity}}</p>

  </div>
</div>