<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Tracker</title>
    <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>
<header>
    <span>Movie Tracker</span>
<ul>
  <li><a href="/">Database GET</a></li>
  <li><a href="/popular">Most Popular</a></li>
</ul>
</header>
    {{{body}}}
</body>
</html>